{
  "connector.class": "io.lenses.streamreactor.connect.gcp.storage.sink.GCPStorageSinkConnector",
  "tasks.max": "1",
  "topics": "${TOPIC}",

  "key.converter": "org.apache.kafka.connect.storage.StringConverter",
  "value.converter": "org.apache.kafka.connect.json.JsonConverter",
  "value.converter.schemas.enable": "false",
  "header.converter": "org.apache.kafka.connect.storage.StringConverter",

  "consumer.override.auto.offset.reset": "earliest",

  "transforms": "loadTs",
  "transforms.loadTs.type": "io.lenses.connect.smt.header.TimestampConverter",
  "transforms.loadTs.header.name": "load_ts",
  "transforms.loadTs.field": "_value.load_ts",
  "transforms.loadTs.target.type": "string",
  "transforms.loadTs.format.from.pattern": "yyyy-MM-dd'T'HH:mm:ss.SSS",
  "transforms.loadTs.format.to.pattern": "yyyy-MM-dd-HH-mm",
  "transforms.loadTs.rolling.window.type": "minutes",
  "transforms.loadTs.rolling.window.size": "15",

  "connect.gcpstorage.kcql": "INSERT INTO ${GCS_BUCKET}:${GCS_PREFIX}/good SELECT * FROM ${TOPIC} PARTITIONBY _header.load_ts STOREAS `JSON` PROPERTIES('flush.count'=1, 'partition.include.keys'=false)",

  "connect.gcpstorage.gcp.auth.mode": "file",
  "connect.gcpstorage.gcp.file": "/etc/secrets/gcp-credentials.json",

  "connect.gcpstorage.exactly.once.enable": "false"
}
